/*Adult Colours*/
$dark-blue: #010F2B;
$medium-blue: #021739;
$light-blue: #003678;
$yellow: #F2A305;
$white: #FFFF;

/* Junior Colours*/
$dark-aqua: #5EBFAD;
$light-acqua: #ACF2E5;
$dark-orange: #F2762E;
$light-orange: #F28D35;
$black: #000000;

/*Fonts*/
/*Adult*/
$Mulish: "Mulish", sans-serif;
$Montserrant:"Montserrat", sans-serif;
/*Junior*/
$PoorStory: "Poor Story", cursive;
$Poppins: "Poppins", sans-serif;